.radio-group {
  display: inline-flex;
  flex-direction: row;
}

.radio-button {
  margin: 0px 10px 0px 10px;
}

.selected-value {
  margin: 15px 0;
}

md-toolbar {
  margin-top: 20px;
}

md-card-content {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

