<div class="container">
  <md-toolbar color="primary">
    <span>Warmup Calculator</span>
  </md-toolbar>
  <md-card>
    <md-card-content>
      Select weight increment
      <br><br>
      <div class="radio-group">
        <md-radio-group [(ngModel)]="selectedIncrement" >
          <md-radio-button class="radio-button" *ngFor="let increment of increments" [value]="increment">
            {{increment}}
          </md-radio-button>
        </md-radio-group>
        <md-checkbox (change)="$event.checked ? barWeight = 40 : barWeight = 20">Deadlift</md-checkbox>
      </div>
      <br><br>
      <md-input-container>
        <input mdInput type="number" min="1"
               placeholder="Enter target weight"
               (click)="weight = $event.target.value"
               (keyup)="weight = $event.target.value">
      </md-input-container>
      <md-input-container>
        <input mdInput type="number" min="1"
               placeholder="Enter target reps"
               (keyup)="reps = $event.target.value"
               (click)="reps = $event.target.value">
      </md-input-container>

      <br><br>
      <div *ngIf="sets?.length > 0">Results:
        <md-list>
          <div *ngFor="let set of sets">
            <md-divider></md-divider>
            <md-list-item >
              <h3 md-subheader> {{ set.weight }} x {{ set.reps }} </h3>
            </md-list-item>
          </div>
          <md-divider></md-divider>
        </md-list>
      </div>
    </md-card-content>
  </md-card>
</div>
